*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    background: rgb(66,56,233);
    background: linear-gradient(135deg, rgba(66,56,233,1) 0%, rgba(9,219,237,1) 35%, rgba(198,255,0,1) 100%);
    .card{
        background-color: inherit !important;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        a{
            font-weight: 600;
            border-width: 2px;
            color: lightyellow;
            width: 100%;
        }
        a:hover{
              color: aliceblue;
        }
    }
    #pages-link{
        display: flex;
        flex-direction: column;
        a{
            font-weight: 600;
            margin-top: 0.3rem;
            border-width: 2px;
            color: lightyellow;
        }
        a:hover{
              color: aliceblue;
        }
    }
}