*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-page
{
    display: flex;
    justify-content: space-evenly;
    height: 87%;
    background: rgb(66,56,233);
    background: linear-gradient(135deg, rgba(66,56,233,1) 0%, rgba(9,219,237,1) 35%, rgba(198,255,0,1) 100%);
    form{
        display: flex;
        flex-direction: column;
        width:35%;
        input,select{
            margin-top: 0.5rem;
            height: 2.5rem !important;
            font-size: 0.8rem !important;
        }

        input[type='submit'] {
            width: 80%;
            margin-left: 10%;
        }
    }

    table{
        width:55%;
        height: fit-content;
        td,th{
            text-transform: capitalize;
        }
    }
}
