* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home-page {
  display: flex;
  justify-content: space-evenly;
  height: 87%;
  background: rgb(66, 56, 233);
  background: linear-gradient(135deg, rgb(66, 56, 233) 0%, rgb(9, 219, 237) 35%, rgb(198, 255, 0) 100%);
}
#home-page form {
  display: flex;
  flex-direction: column;
  width: 35%;
}
#home-page form input, #home-page form select {
  margin-top: 0.5rem;
  height: 2.5rem !important;
  font-size: 0.8rem !important;
}
#home-page form input[type=submit] {
  width: 80%;
  margin-left: 10%;
}
#home-page table {
  width: 55%;
  height: fit-content;
}
#home-page table td, #home-page table th {
  text-transform: capitalize;
}
